@import "./assets/fonts/fonts.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  /*font family*/
  /*poppins*/
  --ff-poppinsBold: "poppins-Bold";
  --ff-poppinsLight: "poppins-Light";
  --ff-poppinsMedium: "poppins-Medium";
  --ff-poppinsRegular: "poppins-Regular";
  --ff-poppinsSemiBold: "poppins-SemiBold";

  /* colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-secondary: #ccfff2;
  --clr-primary: #00fcbc;
  --clr-green: #239c78;
  --clr-lightGrey: #e5e5e5;
  --clr-grey: #707070;
  --clr-darkGrey: #2f2f2f;

  /* font sizes */
  --fs-14: clamp(0.8rem, 0.729vw, 16px);
  --fs-15: clamp(0.8rem, 0.781vw, 16px);
  --fs-16: clamp(14px, 0.833vw, 18px);
  --fs-17: clamp(15px, 0.885vw, 20px);
  --fs-18: clamp(16px, 0.938vw, 20px);
  --fs-20: clamp(18px, 1.042vw, 30px);
  --fs-21: clamp(18px, 1.094vw, 30px);
  --fs-22: clamp(18px, 1.146vw, 34px);
  --fs-23: clamp(18px, 1.198vw, 36px);
  --fs-26: clamp(19px, 1.354vw, 37px);
  --fs-28: clamp(20px, 1.458vw, 38px);
  --fs-30: clamp(25px, 1.563vw, 40px);
  --fs-32: clamp(28px, 1.667vw, 45px);
  --fs-37: clamp(28px, 1.927vw, 45px);
  --fs-40: clamp(30px, 2.083vw, 50px);
  --fs-48: clamp(34px, 2.5vw, 54px);
  --fs-52: clamp(40px, 2.708vw, 60px);
  --fs-54: clamp(42px, 2.813vw, 62px);
  --fs-60: clamp(50px, 3.125vw, 65px);
  --fs-64: clamp(50px, 3.333vw, 70px);
  --fs-70: clamp(60px, 3.646vw, 75px);
  --fs-80: clamp(70px, 4.167vw, 85px);
}
